body {
    background-color: var(--bg);
    color: var(--text);
}

#overallDiv {
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40%;
    background-color: var(--bg);
    color: #dbbfbf;
    padding: 20px;
    /* border: 1px solid var(--borderGray); */
    /* box-shadow: var(--boxShadow); */
}

/* header */
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: var(--bg);
    color: var(--text);
}

#header .header-icon {
    display: flex;
    width: 20px;
    height: 20px;
}

.header-icons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;
}

#notification {
    display: none;
}

#first-section {
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
    background-color: var(--bg);
    color: var(--text);
}

#first-section h2 {
    font-size: 18px;
    letter-spacing: -1px;
    margin-bottom: 4px;
    color: var(--text);
}

#first-section p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1px;
    color: var(--text);
}

#first-section button {
    display: flex;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    color: var(--buttonText);
    background-color:var(--accent);
    cursor: pointer;
}

/* search */
#search-area {
    display: flex;
    border: 1px solid var(--borderGray);
    border-radius: 6px;
    padding: 8px 16px;
    /* gap: 8px; */
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 10px;
    /* background: none; */
    background-color: var(--bg);
}

#searchBtn {
border: none;
background: none;
padding: 0;
cursor: pointer;
}

#search-area input {
    border: none;
    appearance: none;
    width: 100%;
    font-size: 14px;
    background-color: unset;
    outline: none;
    color: var(--text);
}

/* filter buttons */
#filter-buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    /* margin-bottom: 6px; */
    margin-top: 10px;
    background-color: var(--bg);
}

.filter {
    display: flex;
    all: unset;
    padding: 4px 10px;
    font-size: 16px;
    color: var(--text);
    border-bottom: 1px solid var(--bg);
    cursor: pointer;
    margin: 6px 0;
    background: none;
}


/* style active filter */
/* .filter.active-filter {
    border-bottom: 1.5px solid var(--accent);
     color: var(--text);
} */

/* task list */
/* #taskList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
} */

#taskList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#emptyTaskPrompt {
    display: none;
    flex-direction: row;
    align-self: start;
    text-align: start;
    font-size: 16px;
    font-style: italic;
    opacity: 0.7;
    margin-top: 6px;
    margin-left: 10px;
    color: var(--text);
}

/* popup */
#popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: var(--cardBg);
    justify-content: center;
    align-items: center;
}

#addTaskPopup {
    background: var(--bg);
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow:var(--boxShadow);
} 

#addTaskPopup h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
    color: var(--accent);
}

#addTaskPopup label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--text)
}

#addTaskPopup input, #addTaskPopup textarea {
    all: unset;
    border: 1px solid var(--gray);
    display: flex;
    margin-top: 10px;
    padding: 8px;
    border-radius: 6px;
    box-sizing: border-box;
    color: var(--text);
    background: none;
}

#addTaskPopup textarea {
    resize: none;
    font-size: 14px;
    font-weight: 100;
}

#addTaskPopup button {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
   color: var(--buttonText);
    background-color: var(--accent);
    text-align: center;
    margin: 10px 0;
    justify-content: center;
    cursor: pointer;
    padding: 8px 1opx;
}

/* rendered task styles */
.taskTitle {
    color: var(--text);
    display: flex;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 2px;
}

.taskDescription {
    color: var(--text);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 200;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 2px;
}

.taskTime {
    color: var(--text);
    display: flex;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 3px;
}


/* Task item container */
.taskDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    border: 0.3px solid var(--borderGray);
    margin-bottom: 24px;
    padding: 12px 10px;
    gap: 12px;
    border-radius: 6px;
    width: 100%;
    position: relative;
    background-color: var(--bg);
}


 .taskCheckbox {
    all: unset;
    display: flex;
    width: 18px;
    height: 18px;
    justify-self: center;
    align-items: center;
    position: relative;
    border: 1.5px solid var(--gray);
    border-radius: 4px;
}

 .taskCheckbox[type="checkbox"]:checked {
    border: var(--accent);
    background-color:var(--accent);
}

.taskDetailsDiv {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    align-items: flex-start;
    background-color: var(--bg);
}

.missed1 {
    display: flex;
    color: var(--missedTask)
}


.btnsDiv {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--bg);
}

.editBtn, .delBtn {
    background: none;
    display: inline-flex;
    padding: 6px 8px;
    font-size: 12px;
    border-radius: 4px;
    color: var(--text);
    border: 1px solid var(--opaqueAccent);
    cursor: pointer;
}


.editBtn:hover, .delBtn:hover {
    background-color: var(--accent2);
    border: none;
    color: white;
}

.editBtn:active, .delBtn:active {
    transform: scale(0.95);
    transition: transform 0.1s ease; /* smooth effect */
}

.filter.active-filter {
  border-bottom: 1px solid var(--accent);
}

.completedTask {
    text-decoration: line-through;
    color: var(--gray);
}


/*  responsive for phone and tab */
@media (max-width: 1024px) {
    #overallDiv {
        width: 60%;
    }

    #addTaskPopup {
        width: 50%;
    }
}

@media (max-width: 480px) {
    #overallDiv {
        width: 90%;
    }

    #addTaskPopup {
        width: 90%;
    }

    #first-section h2, #first-section p {
        font-size: 16px;
    }
}
