* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: linear-gradient(to bottom, #FFF3E6, #F9F5F5);
}

.bigContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(105, 104, 104, 0.1);
  width: 85%;
  /* margin: 0 20px; */
  max-width: 359px;
  text-align: left;
}

.logo {
  display: flex;
  margin-bottom: 20px;
  align-self: center;
  /* width: 20%; */
}



body h2 {
  display: flex;
  font-weight: 500;
  font-size: 20x;
  text-align: center;
  color: black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

p {
  font-weight: 300;
  font-size: 12px;
  color: #292D32;
  /* margin-bottom: 20px; */
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
    display: flex;
    font-weight: 500;
    font-size: 16px;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  outline: #FF9326;
}

input:focus {
  border: 1px solid #FF9326;
}

form p {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 14px;
  color: #f18a22;
  font-weight: 500;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

button {
  padding: 12px;
  background-color: #FF9326;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  /* background-color: #df7f20; */
  transform: scale(1.03);
}

button:active {
  transform: scale(0.99);
}


.to-sign-up {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.signup-link {
  color: #FF9326;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}

